[submodule "Go"]
	path = Go
	url = https://github.com/Marcanta/AdventOfCodeGolang2022.git
[submodule "Java"]
	path = Java
	url = https://github.com/Wawa27/AdventOfCodeJava2022
[submodule "JavaScript"]
	path = JavaScript
	url = https://github.com/HugoDerigny/AdventOfCode2022.git
